App{
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
        background-color: rgb(37, 108, 178);
        border-radius: 100px;
        
        }
        